{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Serie 3
{% endblock %}

{% block content %}
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;
  }
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top;text-align: center;}
  .tg .tg-g1fv{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-0449{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top;}
  .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top;text-align: center;}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;
  text-align: center;}
  .tg .tg-0lax{text-align:left;vertical-align:top;text-align: center;}
  
  .bolilla{
    background-color:#fff;
      border: 1px solid black;    
      height:15px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:15px;
      display: inline-block;
      font-size: 10px;
      text-align: center;
  }
  </style>
<table class="tg" width = 980>
  <tr>
    <th class="tg-g1fv">Pregunta</th>
    <th class="tg-0449" colspan="2">Plan A</th>
    <th class="tg-0449" colspan="2">Plan B</th>
  </tr>
  <tr>
    <td class="tg-fymr">29</td>
    <td class="tg-0pky">25 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div>
    </td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div>
    </td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div>
    </td>
    <td class="tg-0pky">-21 solex |
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div>
    </td>
  </tr>
  <tr>
    <td class="tg-fymr">30</td>
    <td class="tg-0pky">4 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-21 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">31</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-21 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">32</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-16 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">33</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-8 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-16 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">34</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-8 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-14 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">35</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-8 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-11 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
</table>

<br>

<label for="slider" class="form-label">Mueva el deslizador para escoger el número de preguntas para el <strong>plan A</strong> y para el <strong>plan B</strong></label>
<p></p>

<div>
<input type="range" style='width:500px;' id="slider" min = '0' step = '1' max = '7' oninput="{
  choice_A.innerText = (this.value != '0') ? parseInt(this.value)+28 : 'Ninguna';
  choice_B.innerText = (parseInt(this.value)+1 != 8) ? parseInt(this.value)+1+28 : 'Ninguna';
  sombrear()}" disabled>
</div>

<p></p>
<label>Escojo el <strong>plan A</strong> desde la pregunta 29 hasta la pregunta:</label>
<label><strong id = 'choice_A'></strong></label>
<label> y Escojo el <strong>plan B</strong> desde la pregunta:</label>
<label><strong id = 'choice_B'></strong></label>
  
<p></p>

<input name = 'first_choice_3' id = 'first_choice_3' hidden>
<input name = 'second_choice_3' id = 'second_choice_3' hidden>

{{ formfield_errors 'first_choice_3' }}

<button id = "boton" type = "button" class="otree-btn-next btn btn-primary" onclick="validate()">Siguiente</button>

<script>

  function validate(){
    if (confirm("¿Está seguro de su decisión?")) {
      console.log("submitea");
      document.forms["form"].submit()

    } else {
      console.log("You pressed Cancel!");
    }
  }

$("#slider").closest("div").click(function(){
    $(this).find("input:disabled").attr("disabled", false);
  })

  function sombrear()
  {
    const selected_value_A = document.getElementById('slider').value;

    console.log(selected_value_A.value)
 
    document.getElementById('first_choice_3').value = parseInt(selected_value_A)+28 == 28 ? 0 : parseInt(selected_value_A) + 28;
    paint(1,selected_value_A,'rgb(250, 243, 201)','A')
  
    document.getElementById('second_choice_3').value = parseInt(selected_value_A) + 29 == 36 ? 0 : parseInt(selected_value_A) + 29;
    paint(parseInt(selected_value_A)+1,14,'rgb(250, 243, 201)','B')
    
  }

  // orange: 'rgb(250, 223, 174)'
  function paint(start,end,color,lottery)
  {

    let table = document.getElementsByTagName('table')[0];
    let list_td = table.getElementsByTagName('tr');
    //cleaning the color

    if (lottery == 'A')
    {
      for (let td = 1; td < list_td.length; td ++)
      {
        let first = list_td[td].getElementsByTagName('td')[1];
        let second = list_td[td].getElementsByTagName('td')[2]; 

        first.style.backgroundColor = "white";
        second.style.backgroundColor = "white";
      }
      
      // assigning the color
      for (let td = start ; td <= end; td ++ )
      {
        let first = list_td[td].getElementsByTagName('td')[1];
        let second = list_td[td].getElementsByTagName('td')[2]; 

        first.style.backgroundColor = color;
        second.style.backgroundColor = color;
        
      }
    }else
    {
      for (let td = 1; td < list_td.length; td ++)
      {
        let first = list_td[td].getElementsByTagName('td')[3];
        let second = list_td[td].getElementsByTagName('td')[4]; 

        first.style.backgroundColor = "white";
        second.style.backgroundColor = "white";
      }
      
      // assigning the color
      for (let td = start ; td <= end; td ++ )
      {
        let first = list_td[td].getElementsByTagName('td')[3];
        let second = list_td[td].getElementsByTagName('td')[4]; 

        first.style.backgroundColor = color;
        second.style.backgroundColor = color;
        
      }
    }

  }
  
</script>
   
{% endblock %}
