{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;
  }
  .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top;text-align: center;}
  .tg .tg-g1fv{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-0449{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top;}
  .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top;text-align: center;}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;
  text-align: center;}
  .tg .tg-0lax{text-align:left;vertical-align:top;text-align: center;}
  
  .bolilla{
    background-color:#fff;
      border: 1px solid black;    
      height:15px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:15px;
      display: inline-block;
      font-size: 10px;
      text-align: center;
  }
  </style>

<p>
  Los planes: <strong>plan A</strong> y <strong>plan B</strong> de la Serie 2 son similares a los de la Serie 1 y la tarea es la misma.
</p>

<p align=”justify”>Ahora miremos la <b>Serie 3</b>. En esta serie, usted puede perder dinero.
</p>

<table class="tg" width = 980>
  <tr>
    <th class="tg-g1fv">Pregunta</th>
    <th class="tg-0449" colspan="2">Plan A</th>
    <th class="tg-0449" colspan="2">Plan B</th>
  </tr>
  <tr>
    <td class="tg-fymr">29</td>
    <td class="tg-0pky">25 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div>
    </td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div>
    </td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div>
    </td>
    <td class="tg-0pky">-21 solex |
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div>
    </td>
  </tr>
  <tr>
    <td class="tg-fymr">30</td>
    <td class="tg-0pky">4 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-21 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">31</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-21 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">32</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-4 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-16 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">33</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-8 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-16 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">34</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-8 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-14 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
  <tr>
    <td class="tg-fymr">35</td>
    <td class="tg-0pky">1 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-8 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div></td>
    <td class="tg-0pky">-11 Solex | 
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div></td>
  </tr>
</table>
<br>

<p align=”justify”>
  Este ejemplo es el mismo que la pregunta 29 en la Serie 3. Hay dos planes: <strong>plan A</strong> y <strong>plan B</strong>, para 
  cada pregunta. Hay 10 bolillas numeradas 1,2,3,4,5,6,7,8,9 y 10 que determinan los pagos de cada plan.
  Usted debe escoger <strong>plan A</strong> o <strong>plan B</strong> en cada pregunta.
</p>

<table class="tg" width = 980>
  <tr>
    <th class="tg-g1fv">Pregunta</th>
    <th class="tg-0449" colspan="2">Plan A</th>
    <th class="tg-0449" colspan="2">Plan B</th>
  </tr>
  <tr>
    <td class="tg-fymr">29</td>
    <td class="tg-0pky">
      25 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div>
    </td>
    <td class="tg-0pky" >
      -4 Solex |
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div>
    </td>
    <td class="tg-0pky">30 Solex |
      <div class = "bolilla">1</div>
      <div class = "bolilla">2</div>
      <div class = "bolilla">3</div>
      <div class = "bolilla">4</div>
      <div class = "bolilla">5</div>
    </td>
    <td class="tg-0pky">-21 Solex |
      <div class = "bolilla">6</div>
      <div class = "bolilla">7</div>
      <div class = "bolilla">8</div>
      <div class = "bolilla">9</div>
      <div class = "bolilla">10</div>
    </td>
  </tr>
</table>
<br>
    <p align=”justify”>
      La computadora seleccionará al azar un valor entre 10 posibles opciones: 1, 2, 3, ... 9, 10. <br><br>

      De esta manera, si el número 1,2,3,4 o 5 es seleccionado al azar por la computadora, 
      quienes escogieron el <strong>plan A</strong> recibirán 25 Solex, y quienes escogieron el <strong>plan B</strong>, recibirán 30 Solex. <br><br>

      Por otro lado, si el número 6,7,8,9 o 10 es seleccionado al azar por la computadora, quienes escogieron el <strong>plan A</strong> 
      perderán 4 Solex y quienes escogieron el <strong>plan B</strong>, perderán 21 Solex. <br><br>

      Las <b>pérdidas</b> se restarán de una <b>dotación base</b> de 30 Solex (Solo si tienes pérdidas).
    </p>

    {% next_button %}

{% endblock %}
