{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Enlace para pagos
{% endblock %}

{% block content %}

Para proceder con tu pago, entra al enlace abajo. Este enlace te redirigirá a un formulario para brindar la información
para que recibas tu pago.
<br><br>
<h5>Luego de colocar de rellenar el formulario le pedimos que esté pendiente de su correo UP porque se le enviará un documento en Word que debe devolver firmado</h5>
<br><br>
<a target="_blank" href="https://forms.gle/bdeJJVWAVRMKUCTm8">https://forms.gle/bdeJJVWAVRMKUCTm8</a>
</br><br>
Además, deberás colocar tu etiqueta de participante: <br> <br> <h4 align="middle">{{ participant_id  }}</h4>
<br><br>
Los datos que brindes en ese formulario no se combinarán con los datos de la interacción y no afectarán el monto de tu
pago.
<br><br>
¡Gracias, nuevamente!
<br><br>
E2LabUP
<br><br>
<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
<br>
<img height=10% width=20% src="{% static 'logoup.png'%}"/>

{% endblock %}