{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'auction/css/auction.css' %}">
{% endblock %}

{% block content %}

    <div class = "auction-market-name">
        <div>Market High Risk</div>
        <div>Market Low Risk</div>
    </div>
    <div class = "auction-market-screen">
        <div class = "auction-market-1">
            <div class = "market-half-1">
                <div class = "market-half-1-delete">
                    <div style = "height:80%; border:1px solid black">
                        <table style = "width:100%">
                        <thead>
                            <th>Your Offers to Buy</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "HighBuyMyOffersTable"></tbody>
                    </table>
                    </div>
                    <button type = "button" style = "width: 100%;background-color:rgb(253, 119, 119)">Delete offer to buy</button>
                </div>
                <div class = "market-half-1-limitOffer">
                    <table style = "width:100%">
                        <thead>
                            <th>Offer to Buy</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type = "number" id = "HighBuyLimitPrice">
                                </td>
                                <td>
                                    <input type = "number" id = "HighBuyLimitQuantity"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type = "button" onclick = {HighOfferToBuy()} style = "width: 100%;background-color:rgb(253, 119, 119)">Offer to buy</button>
                </div>
                <div class = "market-half-1-list">
                    <table style = "width:100%">
                        <thead>
                            <th>Offers to Buy</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "HighBuyTable"></tbody>
                    </table>    
                </div>  
                <div class = "market-half-1-marketOffer">
                    <label>Quantity</label>
                    <input type = "number" id = "HighSellMarket" style = "width: 70%;"/>
                    <button type = "button" style = "width:100%" onclick = {HighSell()}>Sell</button>
                </div>  
            </div>
            <div class = "market-half-2">
                <div class = "market-half-1-delete">
                    <div style = "height:80%; border:1px solid black">
                        <table style = "width:100%">
                        <thead>
                            <th>Your Offers to Sell</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "HighSellMyOffersTable"></tbody>
                    </table>
                    </div>
                    <button type = "button" style = "width: 100%;">Delete offer to Sell</button>
                </div>
                <div class = "market-half-1-limitOffer">
                    <table style = "width:100%">
                        <thead>
                            <th>Offer to Sell</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type = "number" id = "HighSellLimitPrice">
                                </td>
                                <td>
                                    <input type = "number" id = "HighSellLimitQuantity"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type = "button" onclick = {HighOfferToSell()} style = "width: 100%;">Offer to Sell</button>
                </div>
                <div class = "market-half-1-list">
                    <table style = "width:100%">
                        <thead>
                            <th>Offers to Sell</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "HighSellTable"></tbody>
                    </table>
                </div>  
                <div class = "market-half-1-marketOffer">
                    <label>Quantity</label>
                    <input type = "number" id = "HighBuyMarket" style = "width: 70%;"/>
                    <button type = "button" onclick = {HighBuy()}  style = "width: 100%;background-color:rgb(253, 119, 119)">Buy</button>
                </div>  
            </div>
        </div>
        <div class = "auction-market-monitor">
            <div class = "auction-trader-budget">
                <div style = "text-align: center">
                    Your Holdings
                </div>
                <table style = "width:100%">
                    <thead>
                        <th>Asset</th>
                        <th>Quantity</th>
                        <th>Budget</th>
                    </thead>
                    <tbody>
                        <tr id = "HighRiskHoldings"></tr>
                        <tr id = "LowRiskHoldings"></tr>
                        <tr id = "TotalHoldings" style = "border-top: 2px solid black"></tr>
                    </tbody>
                </table>
            </div>
            <div class = "auction-market-prices">
                <div style = "text-align: center">
                    Market Prices
                </div>
                <table style = "width:100%">
                    <thead>
                        <th>Price High Risk</th>
                        <th>Price Low Risk</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class = "auction-market-2">
            <div class = "market-half-1">
                <div class = "market-half-1-delete">
                    <div style = "height:80%; border:1px solid black">
                        <table style = "width:100%">
                        <thead>
                            <th>Your Offers to Buy</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "LowBuyMyOffersTable"></tbody>
                    </table>
                    </div>
                    <button type = "button" style = "width: 100%;background-color:rgb(253, 119, 119)">Delete offer to buy</button>
                </div>
                <div class = "market-half-1-limitOffer">
                    <table style = "width:100%">
                        <thead>
                            <th>Offer to Buy</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type = "number" id = "LowBuyLimitPrice">
                                </td>
                                <td>
                                    <input type = "number" id = "LowBuyLimitQuantity"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type = "button" onclick = {LowOfferToBuy()} style = "width: 100%;background-color:rgb(253, 119, 119)">Offer to buy</button>
                </div>
                <div class = "market-half-1-list">
                    <table style = "width:100%">
                        <thead>
                            <th>Offers to Buy</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "LowBuyTable"></tbody>
                    </table>
                </div>  
                <div class = "market-half-1-marketOffer">
                    <label>Quantity</label>
                    <input type = "number" id = "LowSellMarket" style = "width: 70%;"/>
                    <button type = "button" onclick = {LowSell()} style = "width:100%">Sell</button>
                </div>  
            </div>
            <div class = "market-half-2">
                <div class = "market-half-1-delete">
                    <div style = "height:80%; border:1px solid black">
                        <table style = "width:100%">
                        <thead>
                            <th>Your Offers to Sell</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "LowSellMyOffersTable"></tbody>
                    </table>
                    </div>
                    <button type = "button" style = "width: 100%;">Delete offer to Sell</button>
                </div>
                <div class = "market-half-1-limitOffer">
                    <table style = "width:100%">
                        <thead>
                            <th>Offer to Sell</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type = "number" id = "LowSellLimitPrice">
                                </td>
                                <td>
                                    <input type = "number" id = "LowSellLimitQuantity"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type = "button"  onclick = {LowOfferToSell()} style = "width: 100%;">Offer to Sell</button>
                </div>
                <div class = "market-half-1-list">
                    <table style = "width:100%">
                        <thead>
                            <th>Offers to Sell</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody id = "LowSellTable"></tbody>
                    </table>
                </div>  
                <div class = "market-half-1-marketOffer">
                    <label>Quantity</label>
                    <input type = "number" id = "LowBuyMarket" style = "width: 70%;"/>
                    <button type = "button" onclick = {LowBuy()}
                    style = "width: 100%;background-color:rgb(253, 119, 119)">Buy</button>
                </div>  
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts%}
    <script type="text/javascript">
        var player_id = {{ player_id }};
    </script>
    <script type="text/javascript" src="{% static 'auction/js/auction.js' %}"></script> 
{% endblock %}