{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Parte I 
{% endblock %}

{% block content %}

<h4>Información general</h4>

<p>
    Este experimento trata de replicar un mercado de activos donde 10 traders pueden negociar dos activos:
    un activo de <strong>Alto Riesgo</strong> y un activo de <strong>Bajo Riesgo</strong>, simultáneamente. 
    De este modo, usted actúa como un manager que gestiona activamente una cartera compuesta por los dos activos. 
    Al final del experimento, se le paga de acuerdo a su desempeño.
</p>

<h4>Descripción del mercado</h4>

<p>
    Cada trader obtiene una dotación inicial de 20 unidades de activo de <strong>Alto Riesgo</strong> y 20 unidades de activo de 
    <strong>Bajo Riesgo</strong>. Además, cada trader obtiene un capital de trabajo de <strong>2000 Puntos</strong>
</p>

<p>Aspectos a tener en consideración</p>
<ul>
    <li>
        Cada uno de los activos puede ser intercambiado separadamente y depende de usted cuantas unidades de cada activo desea intercambiar
    </li>
    <li>
        La interfaz está dividida en 2 áreas. Una es para que intercambie el activo de <strong>Alto Riesgo</strong> y 
        la otra para que intercambie el activo de <strong>Bajo Riesgo</strong>.
    </li>
    <li>
       Los precios de los activos son independientes y se determinan a partir de los intercambios entre los 10 traders. 
    </li>
</ul>

<h5>
    Información del activo de Alto Riesgo
</h5>

<p>
    Al final de esta parte del experimento se elegirá una de las rondas al azar y se tomará las unidades del activo de 
    <strong>Alto Riesgo</strong> que tuviste al finalizar la ronda y serán recompradas por el experimentador. El precio de recompra está determinado 
    de manera aleatoria y puede tomar los diferentes valores
</p>

<table class = "table">
    <thead>
        <th>Precio de Recompra en Puntos</th>
        <th>Probabilidad</th>
    </thead>
    <tbody>
        <tr>
            <td>15</td>
            <td>80%</td>
        </tr>
        <tr>
            <td>65</td>
            <td>20%</td>
        </tr>
    </tbody>
</table>

<h5>
    Información del activo de Bajo Riesgo
</h5>

<p>
    Al final de esta parte del experimento se elegirá una de las rondas al azar y se tomará las unidades del activo de 
    <strong>Bajo Riesgo</strong> que tuviste al finalizar la ronda y serán recompradas por el experimentador. El precio de recompra está determinado 
    de manera aleatoria y puede tomar los diferentes valores
</p>

<table class = "table">
    <thead>
        <th>Precio de Recompra en Puntos</th>
        <th>Probabilidad</th>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>50%</td>
        </tr>
        <tr>
            <td>30</td>
            <td>50%</td>
        </tr>
    </tbody>
</table>

<h4>Beneficios</h4>
<p>Los beneficios al final de cada  ronda se calcularán de la siguiente manera: </p>
<p><strong>Beneficios = Q_AR x P_AR + Q_BR x P_BR + Capital </strong></p>
<p>donde Q_AR y Q_BR corresponden a las unidades de activo de alto riesgo y de bajo riesgo que tienes al final de la ronda, mientras que P_AR Y P_BR corresponden a los precios de recompra
    del activo de alto riesgo y del activo de bajo riesgo, respectivamente. El Capital corresponde al monto que tendrás para tradear en el mercado.
</p>

<h4>Pagos</h4>
<p>
    Cada ronda especificará la forma en la cual se te pagará en Soles. El monto dependerá de los beneficios que obtengas en la respectiva ronda.
    
</p>

<h4>Trading </h4>

<p>
    El trading se logra a través de un mercado de subasta doble (double auction market), donde cada trader puede comprar y vender activos al mismo tiempo.
    El activo de <strong>Alto Riesgo</strong> y <strong>Bajo Riesgo</strong> son intercambiados en 2 mercados separados.
</p>

<p>
    Para cada cotización que usted realice, tiene que introducir el número de activos que está dispuesto a intercambiar. 
    Note que tus Puntos y la cantidad de activos que retengas no puede ser menor a 0. Si compra activos, sus Puntos serán 
    disminuidos por el respectivo monto gastado (Precio x Cantidad) y el número de activos se incrementará por la cantidad obtenida de los nuevos activos. 
    De manera inversa, si vendes activos, tus Puntos aumentarán por los respectivos ingresos (Precio x Cantidad) y el número de activos que tengas disminuirá por la cantidad de activos vendidos.
</p>

{% next_button %}

{% endblock %}
