{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ranking
{% endblock %}

{% block content %}
    <table class = "table">
        <thead>
            <th>Participante</th>
            <th>Beneficio</th>
            <th>Pago Bonus</th>
            <th>Pago Fijo</th>
            <th>Pago Final</th>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    {% if player.id_in_group == player_id %}
                        <td>Tú</td>
                    {% else %}
                        <td>{{ player.id_in_group }}</td>
                    {% endif %}
                    <td>{{ player.earnings }} Puntos</td>
                    <td>S/. {{ player.bonus_penalty }}</td>
                    <td>S/. {{ player.fixed_payment }}</td>
                    <td>S/. {{ player.payoff }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}