{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ranking
{% endblock %}

{% block content %}
    <table class = "table">
        <thead>
            <th>Player</th>
            <th>Payoff</th>
            <th>Bonus</th>
        </thead>
        <tbody>
            {% for player in players_ranking %}
                <tr>
                    {% if player.id_in_group == player_id %}
                        <td>You</td>
                    {% else %}
                        <td>{{ player.id_in_group }}</td>
                    {% endif %}
                    <td>{{ player.earnings }}</td>
                    {% if player.bonus_penalty == False %}
                        <td>0</td>
                    {% else %}
                        <td>player.bonus_penalty</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}