{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ranking
{% endblock %}

{% block content %}
    <table class = "table">
        <thead>
            <th>Player</th>
            <th>Payoff</th>
            <th>Bonus</th>
        </thead>
        <tbody>
            {% for player in players_ranking %}
                {% if player.id_in_group == player_id %}
                <tr>
                    <td>You</td>
                    <td>{{ player.payoff }}</td>
                    <td>{{ player.bonus_penalty }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ player.id_in_group }}</td>
                    <td>{{ player.payoff }}</td>
                    <td>{{ player.bonus_penalty }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}