{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Estadísticas
{% endblock %}

{% block content %}
    <table class = "table">
        <thead>
            <th>Activo</th>
            <th>Cantidad</th>
            <th>Precio de Recompra</th>
            <th>Beneficio</th>
        </thead>
        <tbody>
            <tr>
                <td>Alto Riesgo</td>
                <td>{{ high_risk_quantity }}</td>
                <td>{{ high_risk_buyback }}</td>
                <td>{{ high_buyback_holdings }} Puntos</td>
            </tr>
            <tr>
                <td>Bajo Riesgo</td>
                <td>{{ low_risk_quantity }}</td>
                <td>{{ low_risk_buyback }}</td>
                <td>{{ low_buyback_holdings }} Puntos</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td><strong>{{ total_holdings }} Puntos</strong></td>
            </tr>
        </tbody>
    </table>
{% endblock %}