{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Statistics
{% endblock %}

{% block content %}
    <table class = "table">
        <thead>
            <th>Asset</th>
            <th>Quantity</th>
            <th>Buyback</th>
            <th>Earnings</th>
        </thead>
        <tbody>
            <tr>
                <td>High Risk</td>
                <td>{{ high_risk_quantity }}</td>
                <td>{{ high_risk_buyback }}</td>
                <td>{{ high_buyback_holdings }} Points</td>
            </tr>
            <tr>
                <td>Low Risk</td>
                <td>{{ low_risk_quantity }}</td>
                <td>{{ low_risk_buyback }}</td>
                <td>{{ low_buyback_holdings }} Points</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td><strong>{{ total_holdings }} Points</strong></td>
            </tr>
        </tbody>
    </table>
{% endblock %}